{% extends 'header1.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">

<div class="container">
    <section id="one" class="wrapper style1">
        <div class="container 75%">
            <div class="row 200%">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <h2>EKOL XTAYCONNECT AFRICA </h2>
                        <p>LIMITED</p>
                    </header>
                </div>
                <div class="6u$ 12u$(medium) text-monospace">
                    <p>XtayConnect AfricaTM incorporated under the business name <em>‘Ekol XtayConnect Africa
                            Limited’</em> is Africa’s most dependable support for DTH products and services. </p>
                    <p>We collaborate with major Corporate Telecom Institutions, Mainline Resellers, I.T Retail outlets
                        to provide its customers with endless products ranging Set Top Boxes, Smart Home Gadgets,
                        Technology, Surveillance and Security Systems, Electronic Accessories and Internet services.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Two -->
    <section id="two" class="wrapper style2 special">
        <div class="container">
            <header class="major">
                <h2>Vision, Mission </h2>
                <p>XtayConnect Africa TM </p>
            </header>
            <div class="row 150%">
                <div class="6u 12u$(xsmall)">
                    <div class="image fit captioned">
                        <img src="{% static 'images/company_logo.png' %}" alt="" />

                    </div>
                </div>
                <div class="6u$ 12u$(medium)">
                    <div class="">
                        <h4 class="text-capitalize" style="font-weight: normal;">
                            <p class="r">  to ‘become the most dependable and reliable partner in relevant technology and
                                ‘opportunity-for-all’ in Africa by the end of 2025’; <br>
                            </p>

                            <p class="">
                                to ‘partner all Private and Public institutions relevant in running a technology and
                                connectivity hub, willing and able to sustain the solutions over a given period of time’

                            </p>
                        </h4>
                    </div>
                </div>
            </div>
            <h2> <em>CORE VALUES</em></h2>
            <ul class="actions">
                <li><a href="#" class="button special big"> Synergies | Support</a></li>
                <li><a href="#" class="button big"> Inclusion | Diversity</a></li>
            </ul>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style1">
        <div class="container">
            <header class="major special">
                <h2>Team Players</h2>
                
            </header>
            <div class="feature-grid">
                <div class="feature">
                    <div class="image rounded"><img src="{% static 'images/team/member-1.jpg' %}" alt="" /></div>
                    <div class="content">
                        <header>
                            <h4>Graham Asara</h4>
                            <p>Position</p>
                        </header>
                        <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                            
                             
                        <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
      
                    
                        <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
                <div class="feature">
                    <div class="image rounded"><img src="{% static 'images/team/member-2.jpg' %}" alt="" /></div>
                    <div class="content">
                        <header>
                            <h4>Romeo Danials</h4>
                            <p>CEO</p>
                        </header>
                        <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                            
                             
                        <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
      
                    
                        <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
                <div class="feature">
                    <div class="image rounded"><img src="{% static 'images/team/member-3.jpg' %}" alt="" /></div>
                    <div class="content">
                        <header>
                            <h4>Emmanuel Aggrey</h4>
                            <p>Manager</p>
                        </header>
                        <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                            
                             
                        <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
      
                    
                        <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
                <div class="feature">
                    <div class="image rounded"><img src="{% static 'images/team/member-4.jpg' %}" alt="" /></div>
                    <div class="content">
                        <header>
                            <h4>Aaron Agbah</h4>
                            <p>IT Officer</p>
                        </header>
                        <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                            
                             
                        <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
      
                    
                        <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper style3 special">
        <div class="container">
            <header class="major">
               
                <p>ever ready to hear from you</p>
            </header>
            <ul class="actions">
                <li><a href="https://api.whatsapp.com/send?phone=+233240699506&text=#XTAYCONNECT AFRICA TM. hello, feel free to talk to us."
                     class="button special big">Get in touch</a></li>
            </ul>
        </div>
    </section>
</div>





{% endblock %}